@page "/"
@inject UserProgressService UserProgressService
@inject NavigationManager NavigationManager
@inject Session Sesssion

<PageTitle>Home</PageTitle>

<h3>Home</h3>

@if (_user == null)
{
    <h3>Please login</h3>
}
else
{
    @if (_userProgresses.Any())
    {
        <h4>Select a Fitness Program:</h4>
        <div class="input-group">
            <select class="form-select" @onchange="SelectedUserProgress">
                <option value="">-- Select --</option>
                @foreach (var userProgress in _userProgresses)
                {
                    <option value="@userProgress.Id">@userProgress.Name</option>
                }
            </select>
        </div>
    }
    else
    {
        <p>Please create a <a href="/userprogress">User Progress</a> to track your progress.</p>
    }

    @if (_userProgress != null)
    {
        <h4 style="display:inline-block;margin-right:10px;">Select week:</h4>
        <div class="input-group">
            <select class="form-select" @onchange="WeekChanged" value="@_selectedWeek">
                <option value="">-- Select --</option>
                @foreach (var workout in _userProgress.Workouts.GroupBy(x => x.Week))
                {
                    <option value="@workout.Key">@workout.Key</option>
                }
            </select>
        </div>

        @if (_workouts != null && _workouts.Any())
        {
            <div class="accordion" id="accordionExample">

                @foreach (var workout in _workouts)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@workout.Week-@workout.Day" aria-expanded="false" aria-controls="@workout.Week-@workout.Day">
                                Week @workout.Week - Day @workout.Day -
                                @if (@workout.Date.HasValue)
                                {
                                    @workout.Date.Value.ToString("dd-MM-yyyy")
                                }
                                else if (@workout.Skipped)
                                {
                                    <text>Skipped</text>
                                }
                                else
                                {
                                    <text>Todo</text>
                                }
                            </button>
                        </h2>
                        <div id="@workout.Week-@workout.Day" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <section class="row">
                                    <div class="col-sm-2">
                                        <input style="display:inline-block;" type="date" @bind="@workout.Date" />
                                    </div>
                                    <div class="col">
                                        <input class="form-check-input" type="checkbox" @bind="@workout.Skipped" id="SkippedCheck">
                                        <label class="form-check-label" for="SkippedCheck">
                                            Skipped
                                        </label>
                                    </div>
                                </section>
                                <div class="table-responsive">
                                    <table class="table table-dark table-hover" style="margin-bottom:30px">
                                        <thead>
                                            <tr>
                                                <th scope="col">Exercise</th>
                                                <th scope="col">Sets</th>
                                                <th scope="col">Reps</th>
                                                <th scope="col">RPE/%</th>
                                                <th scope="col">Sets Done</th>
                                                <th scope="col">Reps Done</th>
                                                <th scope="col">Weight Done</th>
                                                <th scope="col">Previous</th>
                                                <th scope="col">Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var progress in workout.ExerciseProgresses)
                                            {
                                                var previousWorkout = @GetPreviousExerciseData(progress).Result;
                                                <tr>
                                                    <td>@(progress.Excercise == null ? string.Empty : progress.Excercise.Name)</td>
                                                    <td style="text-align:center">@progress.Sets</td>
                                                    <td style="text-align:center">@progress.Reps</td>
                                                    <td style="text-align:center">@progress.RPE</td>
                                                    <td><input class="form-control" type="number" min="0" @bind="@progress.SetsDone" /></td>
                                                    <td><input class="form-control" type="number" min="0" style="min-width:50px" @bind="@progress.RepsDone" /></td>
                                                    <td><input class="form-control" type="number" min="0" @bind="@progress.WeightDone" /></td>
                                                    <td style="text-align:center" data-toggle="tooltip" data-bs-html="true" title="@(previousWorkout == null? string.Empty : $"Sets Done: {previousWorkout.SetsDone} <br> Reps Done: {previousWorkout.RepsDone} <br> Weight Done: {previousWorkout.WeightDone} <br>")">@(previousWorkout == null ? string.Empty : $"{previousWorkout.WeightDone}KG")</td>
                                                    <td><input class="form-control" type="text" @bind="@progress.Comment" /></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-outline-secondary" @onclick="Save">Save Progress</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

        <div>
            <button class="btn btn-outline-secondary" @onclick="Save">Save Progress</button>
            <button class="btn btn-outline-secondary" @onclick="Cancel">Cancel</button>
        </div>
    }
}

